body {
    margin: 60px auto;
    width: 70%;
    background-color: #3b3a30
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #c0ded9;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #eaece5
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #eaece5
}
h3 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #eaece5
}
h4 {
    font-size: 1.25em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #eaece5
}
p {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #eaece5;
}
ul li{
    margin-bottom:10px auto 10px;
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #eaece5;
}
footer {
    border-top: 1px solid #b2c2bf;
    font-size: .8em;
}

ul.posts {
    margin: 10px auto 40px;
    font-size: 1em;
}

ul.posts li {
    list-style: none;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
img {
  width: 50%;
  height: auto;
}
figure {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}
figcaption {
  display: block;
}
