<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
					    <li><a href="/teaching portfolio">Teaching</a></li>
	        		<li><a href="/cv">CV</a></li>
							<li><a href="/dhprojects">Projects</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:contact@samgjohnson.com">email</a></li>
	        		<li><a href="https://github.com/samgjohnson">github.com/samgjohnson</a></li>
							<li><a href="https://orcid.org/0000-0002-1713-2507">ORC ID/samgjohnson</a></li>
				</ul>
			</footer>
		</body>
	</html>
